body{
    background-image: url("https://ik.imagekit.io/5m5ltym69/pexels-lukas-349610_nib_r-tg7.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1666774329478");
    background-attachment: fixed; 
    background-size: cover;
}







